<div><a href='/expense/{{this.id}}'>{{ this.title }}</a> - {{ this.owner.name }}</div>
<div> {{format_money this.value }} </div>
{{> participant-list }}
{{# if this.image_id }}
  {{! TODO: factor out this path somehow }}
  <img src="/thumb/{{ this.image_id }}/320x240" />
{{/if}}
