{{# if this }}
  <div> Participants:
    <ul class="participant-list">
      {{# each this }}
        {{# if this.owner }}
          <li class="participant-paid"> {{ this.name }} - owner </li>
        {{ else }}
          {{# if this.paid }}
            <li class="participant-paid"> {{ this.name }} - paid </li>
          {{ else }}
            <li class="participant-unpaid">
              {{ this.name }} - unpaid
              {{# if this.pay_link }}
                <a href="{{ this.pay_link }}"> mark paid </a>
              {{/if}}
             </li>
          {{/if}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
{{/if}}