{{# with expense }}
  <h1> {{ this.title }} </h1>
  {{# if this.description }}
    <p> {{ this.description }} </p>
  {{/if }}
  <p> value: {{format_money this.value }} </p>
  {{> participant-list }}
{{/with}}
{{# if expense.receipt_image }}
  {{! TODO: factor out this path somehow }}
  <img src="/thumb/{{ expense.receipt_image }}/640x480" />
{{/if}}
{{# if expense.is_owner }}
  <a href="/expense/{{ expense.expense_id }}/delete">Delete Expense</a>
{{/if}}
