<h1> {{ expense.title }} </h1>
{{# if expense.description }}
  <p> {{ expense.description }} </p>
{{/if }}
<p> value: {{ expense.value }} </p>
<div>
  <p>Participants:</p>
  <ul>
  {{#each expense.participants_status }}
    <li> {{ this.email }} - {{# if this.status }}
      paid
    {{else}}
      unpaid
    {{/if}}
    </li>
  {{/each}}
  </ul>
</div>
{{# if expense.receipt_image }}
  {{! TODO: factor out this path somehow }}
  <img src="/thumb/{{ expense.receipt_image }}/640x480" />
{{/if}}