<h1> {{ expense.title }} </h1>
{{# if expense.description }}
  <p> {{ expense.description }} </p>
{{/if }}
<p> value: {{format_money expense.value }} </p>
{{# with expense.participants_status }}
  {{> participant-list }}
{{/with}}
{{# if expense.receipt_image }}
  {{! TODO: factor out this path somehow }}
  <img src="/thumb/{{ expense.receipt_image }}/640x480" />
{{/if}}
{{# if expense.is_owner }}
  <a href="/expense/{{ expense.expense_id }}/delete">Delete Expense</a>
{{/if}}